.App {
  text-align: left;
}

.app-content {
  margin-left: 5vh;
  width: 100%;

}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: black;
  color: whitesmoke;
}

nav li {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.site {
  margin-left: 5vh;
}

.add_site {
}

.add-site-section {
  display: grid;
  overflow: hidden;
  width: 100%;
  grid-template-columns: 150px max-content 150px;
  grid-template-rows: 1fr  min-content;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site_nav {
  align-items: flex-start;
  display: flex;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 10vh;
  right: 0;
  width: 20vh;
  background-color: darkblue;
}
.site_nav ul {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
}

.site_nav a {
  display: inline-block;
  width: 100%;
  height: 5vh;
  align-content: center;
  text-align: left;
  padding-left: 10%;
}

.site_nav a:hover {
  background-color: midnightblue;
}

.site_nav hr {
  width: 100%;
  background-image: linear-gradient(to right, darkblue, white, darkblue);
  height: 2px;
  border: darkblue;
}

.website-item {
  background: lightblue;
  border: 1px white dotted;
  margin-top: 5px;
  height: 75px;
}

.website-item li {
  display: inline-block;
  width: 20%;
  height:40px;
  text-align: center;
}

.website-item li label {
  font-weight: 700;
  font-variant-caps: all-small-caps;
  font-size: larger;
}

.website-item li button {
  height: 100%;
  width: 95%;
  padding: 0px;
  margin: 0px;
}

.cat_parent {
  background: lightblue;
  border: 1px white dotted;
  margin-top: 5px;
  height: 75px;
  
}
.cat_parent li {
  display: inline-block;
  width: 20%;
  height:40px;
  text-align: center;
}

.cat_name {
  font-weight: 700;
  font-variant-caps: all-small-caps;
  font-size: larger;
}

.cat_desc {
  width: 100%;
  height: 100%
}

.cat_del {
  display: none;
}

.cat_parent:hover {
  filter: none;
  -webkit-filter: grayscale(50%);
}

.cat_parent:hover .cat_del {
  display: block;
}